<div class="blog new-post">
  <div class="item">
    <div class="topic-row">
      <div class="topic">
        <span>Create New Post</Nav></span>        
      </div>
    </div>
    <div class="blog-text">
     <form>
         <div class="post-form">
            <div class="form-group">
                <label for="topic">Topic</label>
                <input type="email" class="form-control" id="topic">
            </div>
            <div class="form-group">
                <label for="content">Content</label>
                <textarea class="form-control" id="content" rows="3"></textarea>
            </div>
        </div> 
        <button id='submit-new-post'>Submit</button>   
     </form>
    </div>
  </div> 
</div>


